<div class="container">
  <h1>Flashy</h1>
  <h2>Your best languange learning buddy.</h2>
  <h3>Welcome back, <%= @user.username %></h3>
  <p>Your email: <%= @user.email %></p>
  <a href="/user/<%= @user.id %>"<p>Your profile</p></a>

  <h3>Select a deck from below:</h3>
  <% @decks.each do |x| %>
  <a href="/deck/<%= x.id %>"><%= x.name %></a>
  <% end %>

  <br><br><br>
    <form action="/logout" method="get">
      <input type="submit" value="Log out">
    </form>

</div>
